main img {
	max-width: 100%;
}
main div:nth-child(1) {
	text-align: center;
}
/*Tiles*/
.tiles {
	display: inline-block;
	width: 200px; height: 170px;
	border: 1px solid rgba(0, 0, 0, .05);
	vertical-align: middle;
	text-decoration: none;
	color: #404040;
	transition: all 300ms ease-in-out;
}
.tiles:hover {
	cursor: pointer;
	background-color: #00B3FFAA;
	color: #FEFEFE;	
	box-shadow: 3px 3px 10px 3px;
}
.tiles img {
	width: 45px; height: 45px;
	margin-top: 1em;
}
/*Booking fields*/
#book {
	margin: .5em 1em;
	color: #000000AA;
	text-align: center;
	display: none;
}
#book div {
	margin-bottom: 1em;
}
#book img {
	width: 35px; height: 35px;
	display: inline-block;
	vertical-align: middle;
}
#book input, #book select {
	border: none;
	border-bottom: 2px solid #4040402E;
	background: transparent;
	width: 150px;
	font-size: .8em;
}
/*Service Headers*/
#service-header {
	margin-left: 2em;
}
/*People*/
#people div {
	display: inline-block;
	position: relative;
}
#adult::after, #children::after {
	position: absolute;
	font-size: .8em;
	top:3px; left:1.3em;
	z-index:-1;
}
#adult::after {
	content: "adults";
}
#children::after {
	content: "children";
}
/*Last field*/
#last-field {
	position: relative;
}
#input-suffix {
	position: absolute;
	font-size: .8em;
	left: 46.5%; top: 5px;
}
/*Book button*/
#submit {
    position: relative;
	font-size: .8em;
	margin-left: 3em;
	background: #00B3FFAA;
	border: none;
	padding: .25em .5em;
	transition: all 150ms ease-in-out;
	color: #000;
}
#submit:hover {
	cursor:pointer;
}