main img {
	max-width: 100%;
}
main div:nth-child(1) {
	text-align: center;
}
/*Tiles*/
.tiles {
    position: relative;
    float: left;
	width: 100%; height: 100%;
	vertical-align: middle;
    text-decoration: none;
	color: #404040;
	transition: all 300ms ease-in-out;
	background: transparent;
}
.tiles::before {
    content: "";
    position: absolute;
    left:0; right:0;
    height: inherit;
    border: 1px solid #0000000F;
}
.tiles:hover, .tiles:focus {
	cursor: pointer;
	background-color: #00B3FFAA;
	color: #FEFEFE;	
	box-shadow: 3px 3px 10px -3px #000;
}
.tiles img {
	width: 45px; height: 45px;
	margin-top: 1em;
}
/*Booking fields*/
#book {
	text-align: center;
}
#book div {
	margin-bottom: 1em;
}
#book img {
	width: 35px; height: 35px;
	display: block;
	vertical-align: middle;
    margin: 0 auto;
}
#book div > input, #book select {
	border: none;
	border-bottom: 2px solid #4040402E;
	background: transparent;
	width: 150px;
	font-size: .8em;
}
.defa {
    display: none;
}
/*Form*/
#form {
	padding-top: 1em;
	width: 100%; height: 100%;
    margin-bottom: 1em;
}
/*Service Headers*/
#service-header {
	text-align: center;
}
/*People*/
#people div {
	display: inline-block;
	position: relative;
}
#adult::after, #children::after {
	position: absolute;
	font-size: .8em;
	top:3px; left:1.3em;
	z-index: -1;
}
#adult::after {
	content: "adults";
}
#children::after {
	content: "children";
}
/*Last field*/
#lastfield {
	position: relative;
}
#input-suffix {
	position: absolute;
	font-size: .8em;
	left: 45%; top: 40px;
    z-index: -1;
}
/*Submit button*/
#submit-button {
	font-size: .8em;
    margin: auto;
	background: transparent;
	border: 2px solid #FF131AEE;
	padding: .4em .5em .25em;
	transition: all 300ms ease-in-out;
	color: #FF131AEE;
    text-transform: uppercase;
    border-radius: 20px;
	outline: 0;
}
#submit-button:hover, #submit-button:focus {
	cursor: pointer;
    background: #FF131AEE;
    color: #FEFEFE;
	outline: 0;
}
#submit-button:active {
    transform:  translateY(2px);
    box-shadow: 0px 3px 10px -2px #000;
	outline: 0;
}
#submit-button.loading {
    border-right: 2px solid transparent;
    font-size: 0;
    width: 40px; height: 40px;
    border-radius: 50%;
    background-color: transparent;
    animation: spin-load 300ms linear infinite;
	outline: 0;
}
#submit-button.success {
    background:  url("../images/bookings/success.png") no-repeat center, linear-gradient(#13FF52, #13FF52);
    background-size: 35px 40px;
    border: transparent; color: transparent;
    border-radius: 50%;
    width: 60px; height: 60px;
	outline: 0;
}
#background {display: none;}
@media only screen and (min-width: 430px) {
    .tiles {
        width: 50%;    
    }
    #book img {
        display: inline-block;
    }
    #input-suffix {
        position: absolute;
        font-size: .8em;
        left: 45%; top: 5px;
        z-index: -1;
    }
}
@media only screen and (min-width: 700px) {
	main{
		padding-top: 1em;
		position: relative;
        overflow: hidden;
    }
    #book {
        display: initial;
    }
    .defa {
        visibility: hidden;
    }
    #form {
        margin-bottom: 5em;
    }
    #form div {
        margin: 1em;
    }
    #input-suffix {
        position: absolute;
        font-size: .8em;
        left: 50%; top: 5px;
        z-index: -1;
    }
	#background {
		display: initial;
		position: absolute;
        top:0;
		z-index: -2;
	}
	.tiles {
        width: 33.3333333%;
    }
}

/*Form on click classes*/
.tour {
    visibility: visible;
    display: initial;
}
.tour #firstfield {
    display: none;
}
.tour #lastfield {
    display: none;
}
.transports {
    visibility: visible;
    display: initial;
}
.transports #lastfield {
    display: none;
}
.hotels {
    visibility: visible;
    display: initial;
}
.dining {
    visibility: visible;
    display: initial;
}
.flights {
    visibility: visible;
    display: initial;
}
.flights #firstfield {
    display: none;
}
.flights #lastfield {
    display: none;
}
.camping {
    visibility: visible;
    display: initial;
}
.camping #firstfield {
    display: none;
}
.camping #destination-2 {
    display: none;
}