#background {
    display: none;
}
#welcome {
	color: #FFFFFF;			
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url("../images/welcome2.jpg") no-repeat;
	background-size: cover;
	height: 100%;	
	padding: 0 8vw;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-flow: column nowrap;
}
#welcome h1 {
	text-align: center;
	margin-top: 0; padding-top: 1em;
	font-family: "Lucida Handwriting";
	text-shadow: 0px 3px 20px #000;
}
#welcome ul {
	color: #FEFEFE;
	list-style:none;
	text-align: center;
    padding: 0;
}
#welcome ul li:nth-child(3) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.button {
	background-color: transparent;		
	text-decoration: none;
	transition: all 150ms ease-in-out;		
    text-transform: uppercase;	
    border-radius: 30px;
    padding: .25em .5em;
    margin: .4em 1em;
    color: #FEFEFE;
    border: 1.5px solid #FEFEFE;
}
.red:hover, .red:focus, .blue:hover, .blue:focus {
    border: 1px solid transparent;
    color: #FEFEFE;
    text-shadow: none;
}
.red:hover, .red:focus {
	background-color: #FF131A;
    
}
.blue:hover, .blue:focus {
    background-color: #5cadd6;
}

main > p {
    font-style: oblique; 
    text-align: center;
    margin-bottom: 2em;
}

#welcome-icon {
	margin: 0;	
    height: 100%;
}
#welcome-icon > p {
    text-align: center;
    text-transform: capitalize;
    font-size: 2em;
}
#welcome-icon ul{
	text-align: center;
	list-style: none;
    padding: 0; margin: auto;
    display: flex;
    flex-flow: row wrap;    
    justify-content: space-evenly;
}
#welcome-icon ul li {
	border: 3px solid #000;
    border-radius: 10px;
	max-width: 407px;
	margin: 1em;     
}
#welcome-icon ul li p {
	width: 100%;
    color: #0d1a2b;
}
.icon-wrapper {
    margin: .75em auto auto;
    width: 120px; height: 120px;
    display: inline-block;
    background-color: #00B3FFAA;
    border-radius: 50%;
    position: relative; 
}
.icon-wrapper::before{
    content: "";
    position: absolute;
    width: 120px; height: 120px;
    left: 0; top: 0;
    border-radius: 50%;
    transition: all 100ms linear;  
}
.icon-wrapper:hover::before, .icon-wrapper:focus::before {
    background-color: rgba(0, 0, 0, .3);
}
#welcome-icon img {
	margin-left: 0em;
    margin-top: .75em;
	width: 75px; height: 75px;
}
@media only screen and (min-width: 1400px) {
    main {overflow: hidden;}
    #background {
        display: initial;
        position: absolute;
        max-width: 100%;
        top: 300px;
        z-index: -2;
    }
    #welcome-icon ul li{
        background: rgba(255, 255, 255, .6);
    }
}