/*CSS Variables*/
:root {
    --primary: #DDDDDD;
    --dark: #404040;
    --light: #FFFFFF;
    --highlight: #FDCC57;
}
/*Global*/
html {
    box-sizing: border-box;
    font-family: monospace, Helvetica, Arial, sans-serif;
}
body, .container{
    display: grid;
    background-color: transparent;   
    margin: 0;
    padding: 0;
}
.container {
    grid-template-rows: 1fr 1fr 3fr 1fr;
}


.top-wrapper {
    top: 0px;
    background-color: #fff;
    box-shadow: 0 5px 10px -5px #000;
}
/*Header*/
header {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    column-gap: .5em;    
    margin: 0; padding: 0;
}
header div {
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}
#logo {
    width: 23em;
}
.icon {
    padding-top: 1em 0;
    margin-bottom: 1em;
    width: 2em;
    box-shadow: 0 10px 5px -11px #000;
    transition: all 150ms ease-in-out;
}
.icon:focus, .icon:hover {
    box-shadow: 0 10px 10px -10px #000;
    transform: translate(0, -1px);
}
.sexy-line { 
    margin: 0px 0;
    height: 1px;
    border: 0;
    background: #fff;
    background: radial-gradient(circle, #000, #fff);
}
/*Navigation bar*/
nav {
    font-weight: 700;
    font-size: 1.3em;
    text-align: center;
    text-transform: uppercase;
}
nav > ul{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    list-style: none;
    background: var(--light);
}
nav a {
    text-decoration: none;
    color: var(--dark);
    transition: all 100ms ease-in-out;
}
nav ul li {
    text-align: center;
    padding: .25em 0;
}
nav ul li a:focus,nav ul li a:hover {
    color: var(--highlight); 
}


/*Main*/
main {
    margin:0 2em;
}
main {
    display: grid;
}

/*Footer*/
footer {
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    height: 200px;
}
footer ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0; padding: 0;
    list-style: none;
}
footer ul li {
    text-align: center;
}
footer ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, .7);
    transition: all 100ms ease-in-out;
}
footer ul li a:focus, footer ul li a:hover {
    color: var(--highlight);
    cursor: pointer;
}
.contact {
    background-color: var(--dark);
    color: rgba(255, 255, 255, .8);
}
.contact img {
    padding: .3em 0;
    width: 15em;
}
#contact-us {
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: underline;
}
#references {
    background-color: rgba(0, 0, 0, .85);
    color: rgba(255, 255, 255, .8);   
}
/*Media Queries*/
@media (min-width: 700px) {
    .top-wrapper {
        position: sticky;
        top: 0px;
    }
    header {
        grid-template-rows: 1fr;
        grid-template-columns: 3fr 8fr 1fr 1fr;
    }
    #logo-wrapper {
        grid-column: 2/ 3;
    }
    .icon {
        margin: 1em 0 0 0; padding: 0;
    }
    nav > ul {
        grid-template-columns: repeat(4, 1fr)
    } 
    footer {
        height: 75px;
    }
    footer .contact {
        flex-wrap: wrap;
        max-height: 100px;
    }
    .contact li{
        margin-left: 2em;
        text-align: left;
    }
}