/*CSS Variables*/
:root {
    --primary: #DDDDDD;
    --dark: #404040;
    --light: #FFFFFF;
    --highlight: #FDCC57;
}
/*Global*/
*, html {
    box-sizing: border-box;
    font-family: "Roboto Condensed", monospace, Helvetica, Arial, sans-serif;
}
body, .container{
    display: grid;
    background-color: transparent;   
    margin: 0; padding: 0;
}
.container {
	height: 100%; width: 100%;
    grid-template-rows: auto auto auto;
}


.top-wrapper {
    top: 0px;
	
    background-color: #fff;
    box-shadow: 0 5px 10px -5px #000;
}
/*Header*/
header {
    display: grid;
    grid-template-rows: auto auto auto;
    column-gap: .5em;    
    margin: 0; padding: 0;
}
header div {
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}
#logo {
    width: 8em;
	padding-bottom: 1em;
}
.icon {
    margin: 1em 0;
	
    width: 2em;
    box-shadow: 0 10px 5px -11px #000;
    transition: all 150ms ease-in-out;
}
.icon:focus, .icon:hover {
    box-shadow: 0 10px 10px -10px #000;
    transform: translate(0, -3px);
}
.sexy-line { 
    margin: 0px 0;
    height: 1px;
    border: 0;
    background: #fff;
    background: radial-gradient(circle, #000, #fff);
}
/*Navigation bar*/
nav {
    font-weight: 700;
    font-size: 1.3em;
    text-align: center;
    text-transform: uppercase;
}
nav a {
    text-decoration: none;
    color: var(--dark);
    transition: all 100ms ease-in-out;
}
nav > ul{
    display: flex;
	flex-flow: column nowrap;
    padding: 0;
    list-style: none;
    background: var(--light);
}
nav > ul > li {
    text-align: center;
    padding: .25em 0;
}
nav ul li a:focus,nav ul li a:hover {
    color: var(--highlight); 
}

nav ul li > ul {
	display: none;
	visibility: hidden;
	opacity: 0;
}

/*Main*/
main {
	display: flex;
	flex-flow: column nowrap;
    margin:0; padding: 0;
	height: 100%;
	overflow-y: auto;
	max-width: 100%;
	grid-rows: 50%;	
}
main aside {
	background: #f2f2f2;
	box-shadow: 0 5px 10px -5px #000;
}
main aside a {
	text-decoration: none;
	color: var(--dark);
	transition: all 150ms ease-in-out;
}
main aside a:hover {
	color: var(--highlight);
}
main aside ul {
	list-style: none;
	padding: 0;
}
main aside ul li {
	text-align: center;
}
main section {
	height: 500px;
	width: 100%;
	margin: 0 2em;
	color: var(--dark);
	font-weight: 200;
	font-size: 1.5em;
}

/*Footer*/
footer {
    display: grid;
    grid-template-rows: auto auto auto;
	-ms-grid-template-rows: auto auto;
    width: 100%;
    height: 200px;
}
footer ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0; padding: 0;
    list-style: none;
}
footer ul li {
    text-align: center;
}
footer ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, .7);
    transition: all 100ms ease-in-out;
}
footer ul li a:focus, footer ul li a:hover {
    color: var(--highlight);
    cursor: pointer;
}
.content {
	display: none;
	visibility: hidden;
	opacity:0;
}
#contact-us {
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: underline;
}
#references {
    background-color: rgba(0, 0, 0, .85);
    color: rgba(255, 255, 255, .8);   
}
#references li {
	position: sticky;
    bottom: 0;
}
/*Media Queries*/
@media screen and (min-width: 700px) {
    .top-wrapper {
        position: sticky;
        top: 0px;
    }
    header {
        grid-template-rows: 1fr;
		-ms-grid-template-rows: 1fr;
        grid-template-columns: 3fr 8fr 1fr 1fr;
		-ms-grid-template-columns: 3fr 8fr 1fr 1fr;
    }
	#logo {
		width: 5em;
	}
    #logo-wrapper {
        grid-column: 2/ 3;
		-ms-grid-column: 2;
		-ms-grid-column-span: 1;
    }
    .icon {
        margin: 1em 0 0 0; padding: 0;
    }
    nav > ul {
        flex-flow: row nowrap;
		justify-content: space-evenly;
    } 
	nav ul li ul {
		display: none; visibility: hidden; opacity: 0;
		transition: all 300ms ease-in-out;
		box-shadow: 5px 5px 10px -5px #000;
		position: absolute;
		padding: 1em 0;
		list-style: none;
		background: var(--light);
	}
	nav ul li:hover ul {
		display: flex; visibility: visible; opacity: 1;
		flex-flow: column wrap;
	}
	main aside {
		display: none;
		visibility: hidden;
		opacity: 0;
	}
    footer {
        height: 100%;
		position:sticky;
		bottom: 0;
    }
    footer .content {
        flex-wrap: wrap;
        max-height: 100px;
    }
	.content {
		background-color: var(--dark);
		color: rgba(255, 255, 255, .8);
		font-size: .8em;
		display: flex;
		visibility: visible;
		opacity:1;
	}
    .content li{
        margin: 0;
        text-align: left;
    }
	.content img {
		padding: .3em 0;
		width: 3em;
	}
}
@media screen and (min-width: 1200px) {
	nav {
		margin: 0 5em;
	}
	nav > ul{
		margin: 1em 5em 0 5em;
	}
}