/*CSS Variables*/
:root {
    --primary: #DDDDDD;
    --dark: #404040;
    --light: #FFFFFF;
    --highlight: #FDCC57;
}
/*Global*/
html {
    box-sizing: border-box;
    font-family: "Roboto Condensed", monospace, Helvetica, Arial, sans-serif;
}
body, .container{
    display: grid;
    background-color: transparent;   
    margin: 0; padding: 0;
}
.container {
	height: 100%; width: 100%;
    grid-template-rows: auto auto auto;
}


.top-wrapper {
    top: 0px;
	position: sticky;
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px -5px #000;
	display: flex;
	flex-flow: column nowrap;
	z-index: 10;
}

/*Header*/
header {
    display: flex;
	position: sticky;
	top: 0;
    column-gap: .5em;    
    margin: 0; padding: 0;
}
header div {
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}
header div svg{
	margin: 1em 0 0 0;
	fill: #292B2C; 
	transition: all 100ms ease-in-out;
}
header div svg:hover, header div svg:focus {
	fill: var(--highlight);
	cursor: pointer;
}
.buffer {
	display: none;
}
#logo-wrapper {
	float: left;
}
#logo {
    width: 3em;
	padding: 0em .5em;
}
.icon {
	display: none;
    margin: 1em 0;
	
    width: 2em;
    box-shadow: 0 10px 5px -11px #000;
    transition: all 150ms ease-in-out;
}
.icon:focus, .icon:hover {
    box-shadow: 0 10px 10px -10px #000;
    transform: translate(0, -3px);
}
.sexy-line { 
    margin: 0px 0;
    height: 1px;
    border: 0;
    background: #fff;
    background: radial-gradient(circle, #000, #fff);
	display:none;
}
/*Navigation bar*/
nav {
    font-weight: 700;
    font-size: 1.3em;
    text-align: center;
    text-transform: uppercase;
	display: none;
	flex-flow: row nowrap;
	justify-content: flex-end;
	background: rgba(0, 0, 0, .8);
}
nav a {
    text-decoration: none;
    color: #FFFFFF;
    transition: all 150ms ease-in-out;
	
}
nav > ul{
	display: flex;
	flex-flow: column nowrap;
    padding: 0 3em 0 0;
    list-style: none;
}
nav > ul > li {
    text-align: right;
    padding: .25em 0;
}
nav ul li a:focus,nav ul li a:hover {
    color: var(--highlight); 
}

nav ul li > ul {
	display: none;
	visibility: hidden;
	opacity: 0;
}

/*Main*/
main {
	max-width: 100%; max-height: 100%;
	margin: 0;
	color: var(--dark);
	font-weight: 200;
	font-size: 1.5em;
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
}


/*Footer*/
footer {
    display: grid;
    grid-template-rows: auto auto auto;
    width: 100%;
    height: 200px;
   
}
footer ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0; padding: 0;
    list-style: none;
}
footer ul li {
    text-align: center;
}
footer ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, .7);
    transition: all 100ms ease-in-out;
}
footer ul li a:focus, footer ul li a:hover {
    color: var(--highlight);
    cursor: pointer;
}
.content {
	display: none;
	visibility: hidden;
	opacity:0;
}
#contact-us {
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: underline;
}
#references {
    background-color: #1E1D1F;
    color: rgba(255, 255, 255, .8);   
}
/*Media Queries*/
@media only screen and (min-width: 700px) {
    .top-wrapper {
        position: sticky;
        top: 0px;
    }
	.sexy-line{display: block;}
    header {
       flex-flow: row nowrap;
	   align-items: center;
    }
	header div svg {
		display: none;
	}
	.buffer {
		display: block;
	}
	#logo {
		width: 5em;
		margin: auto
	}
    .icon {
        margin: 1em 0 0 0; padding: 0;
		display:block;
    }
	nav {
		display: block;
		background: #FFFFFF;
		color: var(--dark);
		vertical-align: middle;
	}
	nav a{
		color: var(--dark)
	}
    nav > ul {
        flex-flow: row nowrap;
		justify-content: space-evenly;
    } 
	main aside {
		display: none;
		visibility: hidden;
		opacity: 0;
	}
    footer {
        height: 100%;
		position: sticky;
		bottom: 0;
    }
    footer .content {
        flex-wrap: wrap;
        max-height: 60px;
    }
	.content {
		background-color: var(--dark);
		color: rgba(255, 255, 255, .8);
		font-size: .8em;
		display: flex;
		visibility: visible;
		opacity:1;
	}
    .content li{
        margin: 0;
        text-align: left;
    }
	.content img {
		padding: .3em 0;
		width: 3em;
	}
}
@media only screen and (min-width: 1200px) {
	nav {
		margin: 0 5em;
	}
	nav > ul{
		margin: 0 5em 0 5em;
	}
}