main {
	max-width: 100%;
	text-align: center;
    position: relative;
}
main p {
	margin: 1em 1.5em;
	padding: .5em;
	background: #00B3FFAA;
	color: #FEFEFE;
	border-radius: 30px;
}
main div {
	margin-bottom: 1em;
}
#background {
    display: none;
}
.tiles {
	display: inline-block;
	width: 200px; height: 170px;
	border: 1px solid rgba(0, 0, 0, .05);
	vertical-align: middle;
	text-decoration: none;
	color: #404040;
	transition: all 150ms ease-in-out;
}
.tiles:hover {
	background-color: #00B3FFAA;
	color: #FEFEFE;	
	box-shadow: 3px 3px 10px -3px #000;
}
.tiles img {
	width: 45px; height: 45px;
	margin-top: 1em;
}
.arrow {
	display: inline-block;
	margin: 0; padding: 0;
	border-bottom: 2px solid #404040;
	border-right: 2px solid #404040;
	min-width: 10px; min-height: 10px;
	transform: rotate(-45deg);
}
@media only screen and (min-width: 700px) {
    main {overflow:hidden}
	.tiles {
		width: 400px; 
		height: 170px;
	}
	.tiles img {
        width: 60px; height: 60px;
        margin-top: 1em;
	}
    #background {
        display: initial;
        position: absolute;
        top:0;
        z-index: -2;
        max-width: 100%;
    }
}
